* {
  outline: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f3f6f8;
  background: white;
  margin: 0;
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  /*background-color: rgb(255, 255, 255);*/
  overflow-x: hidden;
}

html, body {
  height: 100%;
}

html > body {
  color: #37474f;
}

#root {
  height: 100vh;
}

#root #jobboard {
  height: calc(100% - 157px);
}